<div class="container">
  <h1 style="text-align: center;">About us</h1>
  <p>R-learning Digital Advisory PVT. LTD, was established in the year 2020 is an agency that helps business discover
    their competitive advantage in this digital age.</p>
  <p>Our vision is to adpot the digital processes and tools to achieve strategic business goals. We use digital
    technologies to create new or modify existing business processes, culture, and customer experiences to meet changing
    business and market requirements.</p>
  <p>We create websites and application using open source software and provide unsurpassed service that, together,
    deliver premium value to our clients. We exhibit a strong will to win in the marketplace and in every aspect of our
    business.</p>

</div>
<div class="container my-5 ">
  <p class="lead">User Experiances</p>
  <div class="progress">

    <div class="progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="25" aria-valuemin="0"
      aria-valuemax="100">95%</div>
  </div>
  <p class="lead">Web Desig</p>
  <div class="progress">
    <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="25" aria-valuemin="0"
      aria-valuemax="100">75%</div>
  </div>
  <p class="lead">Programming</p>
  <div class="progress">
    <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="25" aria-valuemin="0"
      aria-valuemax="100">60%</div>
  </div>
  <p class="lead">Fun</p>
  <div class="progress">
    <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="25" aria-valuemin="0"
      aria-valuemax="100">85%</div>
  </div>
</div>



